@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

h1 , h2 , h3 , p , div , nav ,header {
    margin: 0;
    padding: 0;
}
.wrap {
    max-width:980px;
    margin: 0 auto;
}
 :root{
    --main-color:black;
    --secondary-color:blue;
}
header nav .logo {
    color: var(--main-color);
    font-family: 'Courier Prime', monospace;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
}
.main-logo img {
    width:70px;
    height: auto;
    margin-right: 0.5rem;
}
header nav .main-logo {
    display: flex;
    justify-content: center;
    /*background: yellowgreen;*/
    align-items: center;
    text-decoration: none;
    
}
header nav .menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px;
}
header nav .menu li {
    display: inline;
    list-style: none;
    border-right: 1px solid rgb(148, 148, 158);
}
header nav .menu li a {
    color:rgb(148, 148, 158);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
header .main-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 1px solid rgb(148, 148, 158);
    padding: 0;
}
header .main-menu li {
    display: inline;
    list-style: none;
    padding: 3px;

}
header .main-menu li a {
    color:rgb(148, 148, 158);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
header .main-menu li a:hover {
    border-top: 2px solid rgb(148, 148, 158);
}
.banner {
    background-image: url(../images/bg-main.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}
.banner h1 {
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding: 10px 20px;

    
}
/*
.left-block ,
.center-block , 
.right-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.left-block button ,
.center-block button, 
.right-block button{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background: rgb(226, 126, 123);
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 10px 0;

}
.wrap-block img{
    display: block;
    width: 100%;
    height: 165px;
}

@media (min-width:550px){
    .wrap-block {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-around;
    }
    .wrap-block div {
        width:25%; 
        min-height: 350px;
        text-align: center;
        border: 1px solid black;
        padding: 10px;
    }
    
}

.middle-text {
    margin-top: 20px;
}
.middle-text p {
    color: rgb(148, 148, 158);
    text-align: center;
    font-family:'Courier Prime', monospace;
}
.middle-text h3 {
    color: rgb(148, 148, 158);
    font-family:'Courier Prime', monospace;
    font-size: 2rem;
    text-align: center;
}
.our-offer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.type-of-kind-serve {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
}
.our-offer img{
    width: 50%;
    border-radius:100%;
    margin-top: 10px;
    border: 1px solid black;
}
.type-of-kind-serve h2{
    display: inline;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin: 10px;
}
*/
